body{
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
    
}

h1{
    text-align: center;
    color: #00bcd4;
}

h2{
    color: #ff9800;
    
}

p{
    text-align: left;
    line-height: 1.5;
}

.graph{
    background-color: #1e1e1e;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

img{
    width: 100%;
    max-width: 800px;
    display: block;
    margin: auto;
    border-radius: 10px;
}

ul{
    line-height: 2;
}

a{
    color: #00bcd4;
}

